
[Bb]in/
[Oo]bj/
[Oo]ut/


.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

node_modules/
packages/
*.user
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db


publish/
*.log
*.tmp