name: .NET Core CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.103

    - name: Restore dependencies
      run: dotnet restore MySolution/MySolution.sln

    - name: Build
      run: dotnet build MySolution/MySolution.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test MySolution/MySolution.sln --no-build --verbosity normal
