name: .NET Core CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore MySolution/MySolution.slnx

    - name: Build
      run: dotnet build MySolution/MySolution.slnx --no-restore --configuration Release

    - name: Test
      run: dotnet test MySolution/MySolution.slnx --no-build --verbosity normal
    #   run: dotnet test **/*.sln --no-build --verbosity normal (We also can use this wildcard **/*.sln to find all solution files)

  deploy-docker:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/date-app:latest
            ${{ secrets.DOCKER_USERNAME }}/date-app:${{ github.sha }}
